@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
  
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-background text-text font-mono antialiased;
  }
}

